.item-list-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: grey;
}

.item-list-loader 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
}




